<ion-header>
  <ion-toolbar>
    <ion-title>selecionar-produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Gaming</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="NES">NES</ion-select-option>
      <ion-select-option value="Nintendo64">Nintendo64</ion-select-option>
      <ion-select-option value="PlayStation">PlayStation</ion-select-option>
      <ion-select-option value="Sega Genesis">Sega Genesis</ion-select-option>
      <ion-select-option value="Sega Saturn">Sega Saturn</ion-select-option>
      <ion-select-option value="SNES">SNES</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
