
<!-- BOTÃO VOLTAR -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="selecionar-produto" text="Voltar"></ion-back-button>
    </ion-buttons>

    <ion-title>adicionar-produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- INPUT -->
<ion-item class="padding-start padding">
  <ion-label position="floating">Nome:</ion-label>
  <ion-input [(ngModel)]="nome"></ion-input>
</ion-item>

<ion-button class="padding padding-start mg-top-20" 
expand="block" color="success" (click)="cadastrar()">Cadastrar</ion-button>


</ion-content>
